h2{
    border-style: solid;
    border-width: 10px thick;
    background-color: lightskyblue;
}

div{
    border-style: solid;
    border-width: thick;
    background-color: lightblue;
}

p{
    border-style: solid;
    border-width: thin;
    background-color: lightblue;
}